<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Example Suite for my tests">
    <test name="Injection Tests">
        <classes>
            <class name="com.revature.tests.injection.MathsTests"/>
        </classes>
    </test>
    <test name="Holder Tests">
        <classes>
            <class name="com.revature.tests.holder.MockingAndStubbing"/>
        </classes>
    </test>
</suite>